* {
    margin:0;
    padding:0;
}
body{
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(250, 232, 233));
}
.tt-vitrine cite{
    font: 36px "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    color: #1a181d;
    padding-right: 20px;
    float: none;
}
.tt-cadastro{
    border-bottom:2px solid #d10018;
    margin-bottom: 15px;
    padding-bottom: 5px;
    font: 20px "Century Gothic";
    color: #d10018;
}
h3{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
fieldset{
    padding:0;
    margin:0;
    border:0;
}
fieldset{
    border: 1px solid #c0c0c0;
}

.dadosEmpresaEndereco{
    width: 50%
}
.inputBox{
    margin-left: 0px;
    margin-right: 0px;
}

label {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
}
.form-control{
    border-radius:0;
    background:#fff;
    font-family: "Century Gothic";
    box-shadow: none;
}
.form-control{
    display:block;
    width: 100%;
    padding: 6px 12px;
    font-size: 15px;
    line-height:1.428571429;
    color:#b0b0b0;
    vertical-align: middle;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;



}


